*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
html{
    font-family: 'Titillium Web', sans-serif;
    background-color: #EAEAEA;
    scroll-behavior: smooth;
}

#header{
    display: inline-block;
}
.fa-caret-down,
.fa-caret-up
{
    margin: 0;
    font-size: 3rem;
}
.fa-caret-down{

    visibility: hidden;
}
.openMenu .fa-caret-down,
.openMenu .fa-caret-up{
    visibility: visible;
}
.top{
    background-color: #135;
    height: 10rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
    padding: 1rem;
    z-index: 100;
}
.openMenu {
    background-color: #135;
    margin-bottom: 3rem;
    height: 10rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    z-index: 100;
}
.openMenu h1,
.top h1{
    text-align: center;
    font-size: 3rem;
}
.openMenu .navbar{
    display: none;
}
.footer{
    height: 10rem;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    color: #fff;
    background-color: #135;
}
.footer a{
    text-decoration: none;
    color: #0275D8;
    font-size: 2rem;
    transition: .5s;
}
.footer a:hover{
    color: #fff;
}
.btn{
    background-color: #0275D8;
    border-bottom: .35rem solid #025AA5;
    border-radius: 5rem;
    width: 150px;
    padding: 1rem;
    top: 20%;
    position: relative;
    margin: auto;
    transition: .5s;
}
.btn:hover{
    background-color: #025AA5;
    border-bottom: .35rem solid rgb(52, 141, 214);
}
.nav{
    background-color: #135;
    border-radius: .3rem;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    text-align: center;
    transition: .5s;
}
.nav:hover{
    background-color: #EAEAEA;
    color: white;
}
.nav:hover a{
    color: black;
    cursor: pointer;
}
.nav a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

.navbar{
    display: grid;  
    grid-template-columns: repeat(13,1fr);
    grid-gap: .5rem;
    padding: 5rem;
    width: 100%;
    background-color: #135;
    z-index: 90;
    position: fixed;
    top: 9rem;
}
.navbars{
    display: none;  
    top: 30;
    grid-template-columns: repeat(13,1fr);
    grid-gap: .5rem;
    margin: 0;
    padding: 2rem;
    width: 100%;
    background-color: #135;
    position: fixed;
}
div h1{
    font-size: 4rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
    display: inline-block;
}
.container {
    background-color: rgb(190, 190, 190);
    margin-bottom: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 7px 7px 5px #777;
    border-radius: 1rem;
    height: 25rem;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 2rem;
}
.container_drop{
    margin-top: 10%;
}
.logo{
    height: 25px;
    margin-right: 25px;;
}
.about{
    float:left;
    width: 65%;
    height: 100%;
}
.contact{
    width: 25%;
    float: right;
    text-align: center;
    height: 100%;
}
.address{
    height: 70%;
    font-size: 1.6rem;
    padding-top: 2.5rem;;
}

.website{
    height: 30%;
}
.website a{
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
}
.company{
    height: 30%;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
    border-left: .5rem solid rgba(255, 255, 255, .5);
    border-top: .5rem solid rgba(255, 255, 255, .5);
    font-size: 2rem;
}
.technologies{
    padding-top: 5rem;
    height: 70%;
    font-size: 1.6rem;
}